<%# Navigation and Content - see https://github.com/StartBootstrap/startbootstrap-sb-admin/blob/master/dist/layout-sidenav-light.html %>

<%- include("partials/header"); -%>
<body class="sb-nav-fixed">
<%- include("partials/navigation"); -%>

  <div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <h3 class="mt-4">Delete <%=firstName%> <%=lastName%></h3>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="/users">Users</a></li>
                <li class="breadcrumb-item active">Delete <%=firstName%> <%=lastName%></li>
            </ol>

            <div class="page-section">

              <form action="/users/deleted" method="post">
                <div>
                  <span class="delete-confirm">Are you sure you want to delete the following user?</br>
                  <strong><%=firstName%> <%=lastName%></strong></span>
                </div>
                <div class="page-section">
                  <button class="btn btn-danger" type="submit" name="userDelete" value="<%=userName%>">Delete</button>
                  <a class="btn btn-secondary" href="/users/<%=userId%>">Cancel</a>
                </div>
              </form>
            </div>

        </div>
    </main>

<%- include("partials/footer"); -%>
